.details-house{
    padding: 7rem 0;
}

.house-description{
    margin-bottom: 4rem;

    & .box-img{
        height: 32rem;
        overflow: hidden;
        margin-bottom: 4rem;

        & .illustration{
            height: 32rem;
            border-radius: 1rem 0 0 1rem;
            overflow: hidden;
            cursor: pointer;
    
            & img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
    
            &.--small-height{
                height: 10rem;
    
                &:nth-child(2){
                    margin: 1rem 0;
                    border-radius: 0;
                }
    
                &:nth-child(1){
                    border-radius: 0 1rem 0 0;
                }
    
                &:nth-child(3){
                    border-radius: 0 0 1rem 0;
                    position: relative;

                    & a{

                        &:after{
                            content: 'Voir plus';
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: rgba($color-white, .8);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 1.6rem;
                            color: $color-title;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    & .title{
        font-size: 3rem;
        font-weight: bold;
        color: $color-title;
        margin-bottom: 1rem !important;
    }

    & .location{
        font-size: 1.6rem;
        color: rgba($c1, .8);
    }
    
}

.tabs-desc{

    .nav-link{
        padding: .5rem 0 !important;
        font-size: 1.7rem;
        color: $color-title;
        margin-right: 2rem;
        font-weight: bold;

        &:hover{
            color: $c1 !important;
        }
    }

    .nav-pills .nav-link.active{
        background-color: transparent !important;
        color: $c1;
        font-weight: bold;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            height: 2px;
            width: 2rem;
            left: 0;
            bottom: 0;
            background-color: $c1;
        }
    }

    & .content{
        padding: 2rem 0 4rem;

        & .item-feature{
            display: flex;
            align-items: center;
            margin-bottom: 2rem;

            & span{
                color: $c2;
                //font-weight: bold;
                display: block;
                margin-right: .5rem;
                font-size: 2rem;
            }

            & h4{
                font-size: 1.7rem;
                font-weight: normal;
                color: rgba($color-black, .7);
            }

            &.--items{
                align-items: baseline !important;
            }
        }
    }
}

.box-reservation{
    padding: 2rem;
    border: 1px solid rgba($c1, .1);
    border-radius: 4px;

    & .head{
        & h4{
            font-weight: bold;
            color: $c1;
            font-size: 2.5rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid rgba($c1, .1);
        }
    }

    & .body{
        padding-top: 2rem;
    }
}

