.header {
    height: 100vh;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to right, rgba($c1, .9), rgba($c2, .4));
        z-index: 4;
    }

    &_content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 10;

        @include respond-tabport {
            margin-top: 4rem;
        }

        @include respond-tabportXs  {
            margin-top: 10rem;
        }

        @include respond-phone {
            margin-top: 5rem;
        }

        .head {
            text-align: center;

            .title {
                font-size: 7rem;
                color: $color-white;
                font-weight: 700;
                line-height: 6rem;

                @include respond-tabport {
                    font-size: 6rem;
                }

                @include respond-phone {
                    font-size: 4.4rem;
                    line-height: 4rem;
                }
            }

            .paragraph {
                font-size: 2rem;
                margin: 2rem 0 !important;
                color: $color-white;
            }
        }
        .box_form {
            width: 100%;
            padding: 1rem 2rem;
            border-radius: 4px;
            box-shadow: $box-shadow;
            background-color: $color-white;
        }
    }

    // owl carousel
    #header_carousel {
        .owl-item.active {
            animation: bounce-img 7s linear infinite;
            transition: all .4s ease-out;
        }
        
        .item {
            height: 100vh;
            width: 100%;
    
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

@keyframes bounce-img {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.05);
    }

    40% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(1.15);
    }

    80% {
        transform: scale(1.20);
    }
    
    100% {
        transform: scale(1.25);
    }
}

.header_banner{
    padding: 15rem 0 10rem;
    position: relative;

    @include respond-phone {
        padding: 10rem 0 5rem;
    }

    & .container{
        position: relative;
        z-index: 3;
    }

    &-title{
        font-size: 5rem;
        color: $color-white;
    }

    & img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
    }

    &:after{
        height: 100%;
        width: 100%;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, rgba($c1, .9), rgba($c2, .4));
    }

    .box_form {
        width: 100%;
        padding: 1rem 2rem;
        border-radius: 4px;
        box-shadow: $box-shadow;
        background-color: $color-white;
    }
}